<h1>Hello from Rails!!</h1>
<p>It's is now:
  <%= @time %></p>
<p>
  Say <a href="/say/goodbye">Goodbye!</a>
  Say <%= link_to "Goodbye!", say_goodbye_path%>
</p>

<p>
  View <%= link_to "File List", say_filelist_path %>
</p>
